/*
* @Author: Charlie Gallentine
* @Date:   2018-10-05 15:40:42
* @Last Modified by:   Charlie Gallentine
* @Last Modified time: 2019-01-23 09:08:05
*/

* {
	font-family: "Access Regular";
	margin: 0;
	padding: 0;
}

#schedule_container {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.schedule_block {
	overflow: scroll;
	display: inline-block;
	width: 45%;
}

.section {
	width: 50%;
}

#clockContainer {
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	padding: 10px;
	width: 50%;
}

.section_events {
	margin: 0;
	width: 100%;
}

#memo {
	color: black;
	display: flex;
	margin-top: 100px;
	margin-bottom: 20px;
	justify-content: space-between;
}

#clock {
	width: 100%;
	height: 10vw;
}

#top_bug {
	width: 250px;
	margin-right: -14px;
}

.mem_message {
	padding-top: 18px;
	display: inline;
	font-size: 56px;
	z-index: 10;
}

.event {
	align-items: flex-end;
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.event {
	align-items: flex-end;
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.event_title {
	font-size:24px;
	margin: auto 0;
	padding: 20px 30px 0 30px;
}

.session_title {
	font-size:24px;
	margin: auto 0;
	padding: 20px 10px 0 30px;
}

.session_leader {
	font-size:12px;
	margin: auto 0;
	padding: 0 30px 10px 30px;
}

.session_reqs {
	font-size: 12px;
	margin: auto 0;
}

.event_time {
	font-size: 16px;
	margin-right: 15px;
	padding-bottom: 8px;
}

.upcoming_event {
	background-color: #aaa;
	align-items: flex-end;
	color: white;
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.row {
	border: 2px solid black;
}

@media (min-width: 1560px)
{
	.event_title {
		font-size:74px;
	}

	.session_title {
		font-size: 56px;
	}

	.event_time {
		font-size: 42px;
	}

	.session_leader {
		font-size: 32px;
	}

	.session_reqs {
		font-size: 42px;
	}

}
