/*
* @Author: Charlie Gallentine
* @Date:   2018-10-05 15:40:42
* @Last Modified by:   Charlie Gallentine
* @Last Modified time: 2019-01-23 12:41:42
*/

* {
	font-family: "Access Regular";
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}

.link {
	border: 1px solid black;
	border-radius: 3px;
	font-size: 24px;
	color: black;
	background-color: white;
	padding: 10px;
	margin-bottom: 15px;
	width: 50%;
}

.partner_logo {
	max-height: 3vh;
	margin-top: 15px;
}

#main_container {
	display: flex;
	flex-direction: column;
}

#partners {
	border-top: 1px solid black;
	display: flex;
	justify-content: space-around;
	height: 15vh;
}

#logo {
	width: 100%;
}

.links_block {
	padding-top: 25vh;
	padding-bottom: 25vh;
	text-align: center;
}

#schedule_container {
	display: flex;
	flex-direction: row;
}

.links_block {
	width: 19%;
	background: linear-gradient(145deg, #aaa, 80%, #E80000);
}

.schedule_block {
	border-left: 1px solid black;
	overflow-y: scroll;
	display: inline-block;
	width: 40%;
	height: 90vh;
	padding-bottom: -400px;
}

.section {
	width: 50%;
}

#events {
	padding-top: 22vh;
}

#clockContainer {
	background: white;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	padding: 10px;
	width: 58%;
	height: 20vh;
	position: fixed;
	z-index: 1000;
}

.section_events {
	margin: 0;
	width: 100%;
}

#memo {
	color: black;
	display: flex;
	margin-top: 100px;
	margin-bottom: 20px;
	justify-content: space-between;
}

#clock {
	width: 100%;
	height: auto;
	max-height: 20vh;
}

.mem_message {
	padding-top: 18px;
	display: inline;
	font-size: 56px;
	z-index: 10;
}

.event {
	align-items: flex-end;
	background: linear-gradient(45deg, #E80000, #0016FF);
	color: white;
	display: flex;
	justify-content: space-between;
	/*margin-top: 30px;*/
}

.upcoming_event {
	background: linear-gradient(145deg, #aaa, #0016FF);
	align-items: flex-end;
	color: white;
	display: flex;
	justify-content: space-between;
	/*margin-top: 5px;*/
}


.session {
	background: linear-gradient(145deg, #E80000, #721ED6);
	align-items: flex-end;
	color: white;
	display: flex;
	justify-content: space-between;
	/*margin-top: 5px;*/
}

.upcoming_session {
	background: linear-gradient(145deg, #aaa, #721ED6);
	align-items: flex-end;
	color: white;
	display: flex;
	justify-content: space-between;
	/*margin-top: 5px;*/
}

.event_title {
	font-size:24px;
	margin: auto 0;
	padding: 20px 30px 10px 30px;
}

.session_title {
	font-size:24px;
	margin: auto 0;
	padding: 20px 10px 0 30px;
}

.session_leader {
	font-size:12px;
	margin: auto 0;
	padding: 0 30px 10px 30px;
}

.session_reqs {
	font-size: 12px;
	margin: auto 0;
}

.event_time {
	font-size: 16px;
	margin-right: 15px;
	padding-bottom: 8px;
}


.row {
	border: 2px solid black;
}

@media (min-width: 1560px)
{
	.event_title {
		font-size:74px;
	}

	.session_title {
		font-size: 56px;
	}

	.event_time {
		font-size: 42px;
	}

	.session_leader {
		font-size: 32px;
	}

	.session_reqs {
		font-size: 42px;
	}

}
